{% extends "base.html" %} {% block mainbody %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header"><i class="fa fa-search"></i> 智能体管理</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="\">Home</a></li>
                <li><i class="fa fa-search"></i>智能体管理</li>
                <li><i class="fa fa-search"></i>{{agent.agent_name}}</li>
            </ol>
        </div>
    </div>



    <section class="panel panel-default">
        <header class="panel-heading">
            智能体描述
        </header>
        <div class="panel-body">

            <div class="row">
                <!-- <h3 class="text-center">{{agent.agent_name}}</h3> -->
                <p class="fs-1">{{agent.agent_describe}}</p>
            </div>
    </section>

    <section class="panel panel-default">
        <header class="panel-heading">
            智能体参数
        </header>

        <div class="panel-body">
            <div class="row">
                <!-- <h3 class="text-center">{{agent.agent_name}}</h3> -->
                <!-- <p class="fs-1">{{agent.agent_params}}</p> -->
                <ul class="list-group">
                    {% for param in agent.agent_params %}
                    <!-- <ul> {{param }}</ul> -->
                    <li class="list-group-item">{{param}}</li>
                    {% endfor %}
                </ul>
            </div>
    </section>

    <section class="panel panel-default">
        <header class="panel-heading">
            智能体适用实验
        </header>
        <div class="panel-body">

            <div class="row">
                <!-- <h3 class="text-center">{{agent.agent_name}}</h3> -->
                <p class="fs-1">{{agent.corresponding_experiment}}</p>
            </div>
    </section>

    </div>

    </div>

    {% endblock %}

    <script>
        $(document).ready(function() {
            $("#clickMe").on('click', function() {
                console.log('clicked, making a request')

                post('/', {
                    'key-1': 'val-1'
                });
            })
        })

        function post(path, params, method = 'post') {
            const form = document.createElement('form');
            form.method = method;
            form.action = path;

            for (const key in params) {
                if (params.hasOwnProperty(key)) {
                    const hiddenField = document.createElement('input');
                    hiddenField.type = 'hidden';
                    hiddenField.name = key;
                    hiddenField.value = params[key];

                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();
        }
    </script>