{% extends "base.html" %} {% block mainbody %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header"><i class="fa fa-cogs"></i> 智能组件管理</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="\">Home</a></li>
                <li><i class="fa fa-cogs"></i>智能组件管理</li>
            </ol>
        </div>
    </div>

    <section class="panel panel-default">
        <div class="panel-body">
            <div class="row">

                {% for component in components %}
                <div class="col-md-4 mb-4 d-flex">
                    <div class="card text-white bg-primary w-100 component-card">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h5 class="card-title"><b>{{component.component_name}}</b></h5>
                            <p class="card-text">{{component.describe}}</p>
                            <a href="/components/{{component.component_name}}" class="btn btn-light mt-2">Component Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
</div>

{% endblock %} {% block scripts %}
<style>
    .component-card {
        width: 18rem;
        border: solid 1px green;
        border-radius: 5px;
        margin: 0 auto;
    }
    
    .btn-light {
        color: #007BFF;
    }
    
    .btn-light:hover {
        color: #0056B3;
        background-color: #F8F9FA;
    }
</style>
{% endblock %}