{% extends "base.html" %} {% block mainbody %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!--overview start-->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header"><i class="fa fa-search"></i> 配置计算实验</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="\">Home</a></li>
                        <li><i class="fa fa-search"></i><a href="/compute_experiment">计算实验</a></li>
                        <li>实验配置</li>
                    </ol>
                </div>
            </div>

        </div>

    </div>


    <form action="">
        <section class="panel panel-default">
            <header class="panel-heading">
                选择实验场景
            </header>

        </section>


        <section class="panel panel-default">
            <header class="panel-heading">
                配置智能体
            </header>
        </section>

        <section class="panel panel-default">
            <header class="panel-heading">
                选择实验配置
            </header>
        </section>

        <section class="panel panel-default">
            <header class="panel-heading">
                实验结果
            </header>
        </section>

    </form>

</div>

{% endblock %}