{% extends "base.html" %} {% block mainbody %}

<div class="container">
    <!--overview start-->
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header"><i class="fa fa-search"></i> CASCAD平行治理工具</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="\">Home</a></li>
                <li><i class="fa fa-search"></i>CASCAD简介</li>
            </ol>
        </div>
    </div>


    <section class="panel panel-default">
        <div class="panel-body">
            <div>
                <p>
                    DAO的治理机制已经是数字基础设施中不可或缺的一部分，不可预见的系统故障模式可能会对整个组织造成毁灭性的伤害。从The DAO的失败开始，工程师们已经开始关注智能合约中的潜在危险。Certik、Coinfirm、quantstamp等公司试图从软件工程角度解决代码中存在的问题，并且取得了良好的效果。这些项目通常会结合代码覆盖测试、机器测试和人工测试等手段，形成一份全面的测试分析报告。其中，Certik提供了一种形式化的代码验证，用数学模型的方式证明合约中没有漏洞。但是，治理机制的问题并不总是出现再程序设计上，很多机制的失败源自其错误的治理逻辑。因此，common
                    stack构建了基于模拟的DAO治理机制测试工具，cadcad基于“数字孪生”的理念，从治理机制的逻辑上进行测试和辅助设计。
                </p>

                <br/>
                <p> 基于平行智能理论构建平行DAO治理工具，有效解决去中心化治理系统中机制的建模、实验与决策相关问题。其基本思想是通过形式化地描述去中心化治理系统的静态特征与动态特征来构建人工治理系统，并与实际治理系统虚实交互与闭环反馈。平行DAO治理工具，通过搭建聚集各类通用治理机制的治理规则库，以及基于链上数据挖掘分析出得智能体行为规则库，并配套进行计算实验的实验平台，从而为实现治理系统与虚拟治理系统的双向引导和协同演化提供一体化工具。
                </p>

            </div>
            <!-- <form action="/ER-post" method="post">
                <div class="form-group">
                    <textarea type="text" name="user_text" class="form-control" placeholder="Enter text" style="height:140px"> </textarea>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="submit" class="btn-primary btn-lg btn-block"> 提交！ </button>
                </div>
                <div class="col-md-4"></div>
            </form> -->
        </div>
    </section>

</div>

{% endblock %}